{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section id="video-hero" class="sticky top-0 h-screen z-10">
    <video autoplay loop muted playsinline class="absolute z-0 w-full h-full object-cover">
        <source src="{% static 'assets/video/bgVideo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="relative z-10 h-full flex flex-col justify-end items-center bg-black bg-opacity-50">
        <button id="start-shopping-btn"
            class="absolute bottom-24 border-2 text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-red-800 transition-transform hover:scale-105">
            Start Shopping Now
        </button>
    </div>
</section>

<main id="main-content" class="relative bg-white text-gray-800 z-20 px-4 md:px-32 pt-[10rem] ">

    <section id="promo-section" class="relative bg-white">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
            <div class="col-span-1 bg-white shadow rounded-2xl p-6 h-fit">
                <h3 class="text-xl font-bold mb-4">Category</h3>
                <ul class="space-y-4">

                    {% for c in trending_categories %}
                    <li
                        class="flex items-center justify-between  rounded-lg px-4 py-2  shadow-[inset_0_1px_2px_rgba(0,0,0,0.25)]">
                        <div class="flex items-center space-x-3">
                            <img src="{{c.image.url}}" class="w-10 h-10 rounded object-cover" alt="Kurta" />
                            <span class="font-medium">{{c.name}}</span>
                        </div>
                        <span
                            class="bg-red-100 text-red-600 px-2 py-1 rounded-full text-sm font-semibold">{{c.products.all.count}}</span>
                    </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="col-span-1 lg:col-span-3 bg-red-50 rounded-2xl relative flex items-center p-4 md:p-8">
                <div class="flex-1">
                    <section class="w-full">
                        {% for c in categories %}
                        <h2 class="lg:text-3xl text-2xl font-bold text-gray-800 mb-4">{{c.name}}</h2>
                        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 mb-10">
                            {% for s in c.subcategories %}
                            <div class="bg-white rounded-lg shadow hover:shadow-lg transition p-3">
                                <img src="{{s.image.url}}" alt="Kurta"
                                    class="w-full h-48 md:h-72 object-cover rounded-md">
                                <p class="mt-3 text-base md:text-lg font-semibold text-gray-800">{{s.name}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-auto py-8">
        <div class="flex flex-col md:flex-row md:items-center gap-5">
            <h2 class="text-2xl font-bold mb-4 md:mb-0">Featured Categories</h2>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-4 py-6">

            {% for c in trending_categories %}
            <div class="flex flex-col items-center">
                <div class="border-2 rounded-full border-[#B01F00]">
                    {% if c.image %}
                    <img src="{{c.image.url}}" class="w-28 h-28 rounded-full object-cover border" alt="">
                    {% endif %}
                </div>
                <p class="mt-2 text-sm font-medium">{{c.name}}</p>
            </div>
            {% endfor %}


        </div>

        <div class="grid md:grid-cols-3 gap-6">
            <div class="relative rounded-lg overflow-hidden">
                <img src="https://i.pinimg.com/474x/0f/59/4a/0f594ab9b91f717cbb4c68ae4f34765e.jpg"
                    class="w-full h-60 object-cover" alt="">
                <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center p-4">
                    <div class="text-center text-white">
                        <p class="text-xl font-semibold">What’s special today?</p>
                        <button class="mt-3 px-4 py-2 bg-[#991B1B] text-white text-sm font-medium rounded">Planning
                            a
                            Wedding</button>
                    </div>
                </div>
            </div>
            <div class="relative rounded-lg overflow-hidden">
                <img src="https://images.squarespace-cdn.com/content/v1/5cef59143a338800015c3e6d/1559276317048-LS4METP75FNP17IIL8SB/IMG_0726.jpg"
                    class="w-full h-60 object-cover" alt="">
                <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center p-4">
                    <div class="text-center text-white">
                        <p class="text-xl font-semibold">What’s special today?</p>
                        <button class="mt-3 px-4 py-2 bg-[#F9CB15] text-white text-sm font-medium rounded">Celebrating
                            Festivals</button>
                    </div>
                </div>
            </div>
            <div class="relative rounded-lg overflow-hidden">
                <img src="https://images.cbazaar.com/images/navy-blue-dupion-silk-embroidered-kurta-pyjama-kpmvs132-u.jpg"
                    class="w-full h-60 object-cover" alt="">
                <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center p-4">
                    <div class="text-center text-white">
                        <p class="text-xl font-semibold">What’s special today?</p>
                        <button class="mt-3 px-4 py-2 bg-[#991B1B] text-white text-sm rounded font-medium">In the
                            Groom</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-15">
        <h2 class="text-2xl font-bold mb-4 md:mb-0">Popular Products</h2>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 mt-[2rem]">
            {% for p in products %}
            {% include 'partials/product.html' %}
            {% endfor %}
        </div>
    </section>

    <section class="mt-[3rem]">
        <h2 class="text-2xl font-bold mb-4 md:mb-0">Daily Best Sales</h2>

        <!-- GLIDE JS -->
        <div class="grid lg:grid-cols-[1fr_4fr] mt-5">
            <div class="relative rounded-xl bg-pale-green overflow-hidden shadow-md w-full lg:block hidden">
                <img src="https://cdn.pixabay.com/photo/2025/05/06/12/19/hut-9582608_640.jpg" alt="Green Leaf"
                    class="absolute inset-0 w-full h-full object-cover" />
                <div class="absolute top-0 left-0 p-6">
                    <h2 class="text-2xl font-bold text-dark-teal mb-4 ">Bring nature into your home</h2>
                    <button class="bg-teal-400 text-white font-semibold rounded-md py-2 px-4 flex items-center">
                        Shop Now
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            class="w-4 h-4 ml-2">
                            <path fill-rule="evenodd"
                                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="container  w-full px-4 min-w-0">
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">

                            {% for p in products %}
                            <li class="glide__slide p-2">
                                {% include 'partials/product.html' %}
                            </li>
                            {% endfor %}


                        </ul>
                    </div>

                    <div class="glide__arrows" data-glide-el="controls">
                        <button
                            class="glide__arrow glide__arrow--left absolute left-0 top-1/2 -translate-y-1/2 transform rounded-full bg-white/80 p-2 shadow-md hover:bg-white"
                            data-glide-dir="<">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                                stroke="currentColor" class="h-6 w-6 text-gray-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                            </svg>
                        </button>
                        <button
                            class="glide__arrow glide__arrow--right absolute right-0 top-1/2 -translate-y-1/2 transform rounded-full bg-white/80 p-2 shadow-md hover:bg-white"
                            data-glide-dir=">">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                                stroke="currentColor" class="h-6 w-6 text-gray-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-[3rem] relative lg:h-[35rem] ">
        <h2 class="lg:text-3xl text-2xl font-bold mb-4 md:mb-0">Deals of the day</h2>

        <div class="grid lg:grid-cols-4 gap-8 mt-3">

            {% for item in deals %}
            <div class="">
                <div class="relative ">
                    <img class="w-full h-[20rem] object-cover rounded-xl relative "
                        src="{{item.product.primary_image.image.url}}" alt="Fresh vegetables and fruits">

                    <div class="absolute bottom-0  left-1/2 -translate-x-1/2 translate-y-1/2">

                        <div class="deal-countdown flex gap-2 items-center justify-center"
                            data-deal-end="{{ item.deal_ends_at|date:'c' }}" {% if item.deal_starts_at %}
                            data-deal-start="{{ item.deal_starts_at|date:'c' }}" {% endif %}
                            data-deal-active="{{ item.deal_active|yesno:'true,false' }}">

                            <div class="bg-white rounded-lg text-center p-3 w-16">
                                <span class="days text-2xl font-bold text-gray-800">0</span>
                                <span class="block text-xs text-gray-500">Days</span>
                            </div>
                            <div class="bg-white rounded-lg text-center p-3 w-16">
                                <span class="hours text-2xl font-bold text-gray-800">0</span>
                                <span class="block text-xs text-gray-500">Hours</span>
                            </div>
                            <div class="bg-white rounded-lg text-center p-3 w-16">
                                <span class="minutes text-2xl font-bold text-gray-800">0</span>
                                <span class="block text-xs text-gray-500">Mins</span>
                            </div>
                            <div class="bg-white rounded-lg text-center p-3 w-16">
                                <span class="seconds text-2xl font-bold text-gray-800">0</span>
                                <span class="block text-xs text-gray-500">Sec</span>
                            </div>
                        </div>


                        <div class="p-6  text-left bg-white shadow-lg rounded-lg mt-5 w-[21rem]">
                            <p class="text-sm text-gray-500 mb-2">By <a href="#"
                                    class="text-[#F9CB15] hover:underline">{{item.product.vendor.vendor_profile.business_name}}</a>
                            </p>

                            <h2
                                class="text-lg font-semibold text-gray-800 hover:text-black cursor-pointer transition-colors">
                                {{item.product.name}}
                            </h2>

                            <div class="mb-2 flex items-center text-sm">
                                <span class="text-yellow-600">
                                    {% for i in "12345" %}
                                    {% if forloop.counter <= item.product.average_rating_int %}★{% else %}☆{% endif %}
                                        {% endfor %} </span>
                                        <span class="ml-1 text-gray-400">({{item.product.average_rating_int}})</span>
                            </div>

                            <div class="flex justify-between items-center mt-6">
                                <div class="flex items-baseline">
                                    <span class="text-2xl font-bold text-black">${{item.sale_price}}</span>

                                    {% if item.show_regular_price %}


                                    <span class="text-sm text-gray-400 line-through ml-2">${{item.regular_price}}</span>
                                    {% endif %}
                                </div>
                                <button
                                    class="flex items-center justify-center bg-[#991B1B] text-[#fff] hover:bg-[#991B1B] hover:text-[#fff] font-semibold py-2 px-5 rounded-md transition-colors">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                    </svg>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}


        </div>

    </section>

    <section class="lg:mt-[3rem] mt-[13rem]">

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

            <div class="w-full">
                <div class="mb-6">
                    <h2 class="text-2xl font-bold text-gray-800">Top Selling</h2>
                    <div class="w-full bg-gray-100 rounded-full h-1 mt-3">
                        <div class="w-16 h-1 bg-[#3FB6F1] mt-2 rounded"></div>
                    </div>
                </div>
                <div class="space-y-4">

                    {% for p in top_selling %}
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-20 h-20 object-cover rounded-lg bg-gray-50"
                                src="{{p.primary_image.image.url}}" alt="Carrots"
                                onerror="this.onerror=null;this.src='https://placehold.co/80x80/fef2f2/ef4444?text=Carrots';">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-semibold text-gray-800 truncate hover:text-yellow-500 cursor-pointer">
                                {{p.name}}</p>
                            <div class="flex items-center mt-1 text-xs text-gray-500">({{p.average_rating_int}})</div>
                            <div class="flex items-baseline mt-1">
                                <span class="text-md font-bold text-[#F9CB15]">${{p.primary_item.sale_price}}</span>

                                {% if p.primary_item.show_regular_price %}
                                <span
                                    class="text-xs text-gray-400 line-through ml-2">${{p.primary_item.regular_price}}</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products yet</p>
                    {% endfor %}


                </div>
            </div>

            <div class="w-full">
                <div class="mb-6">
                    <h2 class="text-2xl font-bold text-gray-800">Trending Products</h2>
                    <div class="w-full bg-gray-100 rounded-full h-1 mt-3">
                        <div class="w-16 h-1 bg-[#F9CB15] mt-2 rounded"></div>
                    </div>
                </div>
                <div class="space-y-4">
                    {% for p in trending_products %}
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-20 h-20 object-cover rounded-lg bg-gray-50"
                                src="{{p.primary_image.image.url}}" alt="Carrots"
                                onerror="this.onerror=null;this.src='https://placehold.co/80x80/fef2f2/ef4444?text=Carrots';">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-semibold text-gray-800 truncate hover:text-yellow-500 cursor-pointer">
                                {{p.name}}</p>
                            <div class="flex items-center mt-1 text-xs text-gray-500">({{p.average_rating_int}})</div>
                            <div class="flex items-baseline mt-1">
                                <span class="text-md font-bold text-[#F9CB15]">${{p.primary_item.sale_price}}</span>

                                {% if p.primary_item.show_regular_price %}
                                <span
                                    class="text-xs text-gray-400 line-through ml-2">${{p.primary_item.regular_price}}</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products yet</p>
                    {% endfor %}
                </div>
            </div>

            <div class="w-full">
                <div class="mb-6">
                    <h2 class="text-2xl font-bold text-gray-800">Recently added</h2>
                    <div class="w-full bg-gray-100 rounded-full h-1 mt-3">
                        <div class="w-16 h-1 bg-[#991b1b] mt-2 rounded"></div>
                    </div>
                </div>
                <div class="space-y-4">
                    {% for p in recently_added %}
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-20 h-20 object-cover rounded-lg bg-gray-50"
                                src="{{p.primary_image.image.url}}" alt="Carrots"
                                onerror="this.onerror=null;this.src='https://placehold.co/80x80/fef2f2/ef4444?text=Carrots';">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-semibold text-gray-800 truncate hover:text-yellow-500 cursor-pointer">
                                {{p.name}}</p>
                            <div class="flex items-center mt-1 text-xs text-gray-500">({{p.average_rating_int}})</div>
                            <div class="flex items-baseline mt-1">
                                <span class="text-md font-bold text-[#F9CB15]">${{p.primary_item.sale_price}}</span>

                                {% if p.primary_item.show_regular_price %}
                                <span
                                    class="text-xs text-gray-400 line-through ml-2">${{p.primary_item.regular_price}}</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products yet</p>
                    {% endfor %}
                </div>
            </div>

            <div class="w-full">
                <div class="mb-6">
                    <h2 class="text-2xl font-bold text-gray-800">Top Rated</h2>
                    <div class="w-full bg-gray-100 rounded-full h-1 mt-3">
                        <div class="w-16 h-1 bg-[#F9CB15] mt-2 rounded"></div>
                    </div>
                </div>
                <div class="space-y-4">
                    {% for p in top_rated %}
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-20 h-20 object-cover rounded-lg bg-gray-50"
                                src="{{p.primary_image.image.url}}" alt="Carrots"
                                onerror="this.onerror=null;this.src='https://placehold.co/80x80/fef2f2/ef4444?text=Carrots';">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-semibold text-gray-800 truncate hover:text-yellow-500 cursor-pointer">
                                {{p.name}}</p>
                            <div class="flex items-center mt-1 text-xs text-gray-500">({{p.average_rating_int}})</div>
                            <div class="flex items-baseline mt-1">
                                <span class="text-md font-bold text-[#F9CB15]">${{p.primary_item.sale_price}}</span>

                                {% if p.primary_item.show_regular_price %}
                                <span
                                    class="text-xs text-gray-400 line-through ml-2">${{p.primary_item.regular_price}}</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

    <section class="mt-[5rem]">
        <div class="container p-2 lg:px-8 ">
            <!-- Main Hero Section -->
            <div class=" bg-[#FEF2F2] rounded-2xl lg:px-8 lg:pb-0 p-3 relative overflow-hidden h-fit">
                <div class="flex flex-col md:flex-row items-center justify-between gap-8 ">
                    <!-- Text and Form Content -->
                    <div class="md:w-1/2 text-strat  z-10">
                        <h1 class="text-2xl lg:text-5xl font-bold text-gray-800 leading-tight">
                            Stay home & get your daily needs from our shop
                        </h1>
                        <p class="mt-4 text-gray-600">
                            Start Your Daily Shopping with Nest Mart
                        </p>
                        <div class="mt-8 flex max-w-md mx-auto md:mx-0 rounded-full bg-white shadow-md p-2">
                            <div class="flex items-center flex-1 lg:pl-4 pl-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="lg:h-6 h-5 lg:w-6 w-5 text-gray-400"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                                <input type="email" placeholder="Your email address"
                                    class="w-full bg-transparent p-2 text-gray-700 lg:text-[17px] text-sm  focus:outline-none">
                            </div>
                            <button
                                class=" sm:ml-2 flex-shrink-0 bg-[#991B1B] hover:bg-emerald-600 text-white lg:text-[17px] text-sm font-semibold py-3 lg:px-8 px-4 rounded-full transition-colors">
                                Subscribe
                            </button>
                        </div>
                    </div>

                    <!-- Image Content -->
                    <div class="">
                        <img src="https://nest-frontend-v6.netlify.app/assets/imgs/banner/banner-9.png" alt=""
                            class="h-[20rem] lg:block hidden">

                    </div>
                </div>
            </div>

            <!-- Feature Boxes Section -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mt-8">
                <div class="bg-yellow-50 p-4 rounded-lg flex items-center">
                    <div class="bg-yellow-100 p-2 rounded-lg">
                        <svg class="w-6 h-6 text-[#F9CB15]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v.01">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 18.657A8 8 0 0112 20a8 8 0 01-5.657-2.343m11.314 0a3 3 0 00-4.243-4.243m4.243 4.243L12 12m0 0a3 3 0 00-4.243-4.243m4.243 4.243L12 12m0 0L6.343 6.343m-4.243 4.243a3 3 0 000 4.243m11.314 0a3 3 0 000-4.243">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-4">
                        <h3 class="font-semibold text-sm text-gray-800">Best prices & offers</h3>
                        <p class="text-xs text-gray-500">Orders $50 or more</p>
                    </div>
                </div>
                <div class="bg-sky-50 p-4 rounded-lg flex items-center">
                    <div class="bg-sky-100 p-2 rounded-lg">
                        <svg class="w-6 h-6 text-[#3FB6F1]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 10V3L4 14h7v7l9-11h-7z">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-4">
                        <h3 class="font-semibold text-sm text-gray-800">Free delivery</h3>
                        <p class="text-xs text-gray-500">24/7 amazing services</p>
                    </div>
                </div>
                <div class="bg-purple-50 p-4 rounded-lg flex items-center">
                    <div class="bg-purple-100 p-2 rounded-lg">
                        <svg class="w-6 h-6 text-[#A315AA]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 3v4M3 5h4M19 3v4M17 5h4M12 21a9 9 0 110-18 9 9 0 010 18z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6l4 2">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-4">
                        <h3 class="font-semibold text-sm text-gray-800">Great daily deal</h3>
                        <p class="text-xs text-gray-500">When you sign up</p>
                    </div>
                </div>
                <div class="bg-red-50 p-4 rounded-lg flex items-center">
                    <div class="bg-red-100 p-2 rounded-lg">
                        <svg class="w-6 h-6 text-[#991b1b]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-4">
                        <h3 class="font-semibold text-sm text-gray-800">Wide assortment</h3>
                        <p class="text-xs text-gray-500">Mega Discounts</p>
                    </div>
                </div>
                <div class="bg-sky-50 p-4 rounded-lg flex items-center">
                    <div class="bg-sky-100 p-2 rounded-lg">
                        <svg class="w-6 h-6 text-[#3FB6F1]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 15v-1a4 4 0 00-4-4H8m0 0l-3 3m3-3l3 3m0 0v-1a4 4 0 00-4-4H8m0 0l-3 3m3-3l3 3m0 0v-1a4 4 0 00-4-4H8m0 0l-3 3m3-3l3 3">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-4">
                        <h3 class="font-semibold text-sm text-gray-800">Easy returns</h3>
                        <p class="text-xs text-gray-500">Within 30 days</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{% endblock content %}