{% extends 'base/base.html' %}
{% load static %}
{% block content %}

   

    <!-- Trending Products -->
    <section id="trending" class="py-16 md:py-24 px-4 sm:px-6 lg:px-8">
        <div class="max-w-7xl mx-auto">
            <div class="text-center mb-16">
                <span class="inline-block px-4 py-1.5 bg-indigo-500 text-white text-xs font-semibold tracking-wider uppercase rounded-full mb-4">
                     {{ label }}
                </span>
                <h2 class="text-3xl md:text-5xl font-black text-gray-900 section-title">{{title}}</h2>
                
                {% if not products %}
                    <p class="flex items-center justify-center text-gray-400 mt-8">No {{ title }}</p>
                {% endif %}
                    
            </div>
            
            <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-6 md:gap-8">
                {% for p in products %}
                {% include 'partials/product.html' %}
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock content %}
